src/main/resources/employeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cxfjaxws.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="employeeImplService" targetNamespace="http://cxfjaxws.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://cxfjaxws.com/" elementFormDefault="unqualified"
			targetNamespace="http://cxfjaxws.com/" version="1.0">

			<xs:complexType name="basicAddressType">
				<xs:sequence>
					<xs:element name="DNo" type="xs:string" />
					<xs:element name="Line" type="xs:string" />
					<xs:element name="street" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="indiaAddressType">
				<xs:complexContent>
					<xs:extension base="tns:basicAddressType">
						<xs:sequence>
						<xs:element name="city" type="xs:string" />
							<xs:element name="state" type="xs:string" />
							<xs:element name="country" type="xs:string" />
							<xs:element name="zipcode" type="xs:integer" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:simpleType name="deptType">
				<xs:restriction base="xsd:string">
					<xs:enumeration value="DEV" />
					<xs:enumeration value="PROD" />
					<xs:enumeration value="TEST" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="employeeRequest">
				<xs:sequence>
					<xs:element minOccurs="1" name="id" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="employeeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstname" type="xs:string" />
					<xs:element minOccurs="0" name="lastname" type="xs:string" />
					<xs:element name="dOJ" type="xs:dateTime" />
					<xs:element name="dept" type="tns:deptType" />
					<xs:element name="addr" type="tns:indiaAddressType" />
				</xs:sequence>
				<xs:attribute name='id' type='xs:positiveInteger' />
			</xs:complexType>

			<xs:element name="employeeRequest" type="tns:employeeRequest" />

			<xs:element name="employeeResponse" type="tns:employeeResponse" />

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="employeeRequestMsg">
		<wsdl:part element="tns:employeeRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="employeeResponseMsg">
		<wsdl:part element="tns:employeeResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="employeePortType">
		<wsdl:operation name="getEmployee">
			<wsdl:input message="tns:employeeRequestMsg" name="employeeRequestOp" />
			<wsdl:output message="tns:employeeResponseMsg" name="employeeResponseOp" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="employeeImplServiceSoapBinding" type="tns:employeePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEmployee">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="employeeRequestOp">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="employeeResponseOp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="employeeImplService">
		<wsdl:port binding="tns:employeeImplServiceSoapBinding" name="employeeImplPort">
			<soap:address location="localhost:8080/JAXWS-CXF-EmployeeService-1.0" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>